{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
        <img src="/static/image/hashemi3.svg" class="img-fluid" alt="Responsive image">
        <h2>مفسر برخط زبان برنامه‌نویسی آقای هاشمی</h2>
        <hr class="mb-4">
    </div>

    <div class="row">
        <div class="col-md-6 order-md-1 mb-4">
            <h4 class="mb-3">خروجی</h4>
            <code>
                {{ value }}
            </code>
        </div>
        <div class="col-md-6 order-md-2">
            <h4 class="mb-3">کد ورودی</h4>
            <form method="post">
                <div class="mb-3">
                    <textarea type="code" class="form-control" name="code" style="direction:rtl">
                        {%- if code -%}{{- code -}}
                        {%- else -%}
ببین چاپنده(متن) {
    بچاپ(متن);
    بده متن;
}
                                                
ببین main() {
    عدد = 1;
    تا (عدد کوچکتر از 1000) بود {
        عدد = عدد + 1;
        چاپنده(" درود جهان" + عدد);
        اگر (عدد بزرگتر مساوی 10) بود {
             خب;
        }                
    }
} {%- endif -%}
                    </textarea>
                </div>
                <div class="row">

                    <div class="col-md-3 mb-3">
                        <button type="submit" class="btn btn-primary">Execute</button>
                    </div>
                </div>


            </form>
        </div>

       
    </div>

</div>

{% endblock %}
